// tab的外框線
a:focus-visible {
  outline: none;
  box-shadow: 0 0px 0px 2px $aHover inset;
  @include screen('mobile') {
    box-shadow: none;
  }
}

// 導盲磚
.accesskey {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 9;
  color: $color-hr;
  font-size: $font-size;
  @include screen('mobile') {
    display: none;
  }
}

// more按鈕
a.more {
  display: inline-block;
  padding-right: 40px;
  line-height: 2;
  color: $color-word;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  float: right;
  &:before {
    content: '';
    width: 25px;
    height: 4px;
    border-bottom: 1px solid #000;
    position: absolute;
    left: calc(100% - 35px);
    top: 16px;
    transition: 0.3s ease-out;
  }
  &:after {
    content: '';
    position: absolute;
    left: calc(100% - 10px);
    top: 16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 0 5px;
    border-color: transparent transparent transparent #000000;
    transition: 0.3s ease-out;
  }
  &:hover,
  &:focus,
  &.active {
    color: $aHover;
    &:before {
      width: 30px;
      border-bottom: 1px solid $aHover;
    }
    &:after {
      left: calc(100% - 5px);
      border-color: transparent transparent transparent $aHover;
    }
  }
  &:focus-visible {
    box-shadow: 0 0px 0px 2px $aHover inset;
  }
}

// scrollTop
.scrollToTop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(../images/basic/top.png) no-repeat center top rgba(0, 0, 0, 0.4);
  text-align: center;
  color: #fff;
  line-height: 50px;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: 0.3s ease-out;
  display: none;
  z-index: 99999999;
  text-indent: -999999px;
  &:hover,
  &:focus {
    background: url(../images/basic/top.png) no-repeat center top rgba(0, 0, 0, 0.8);
    box-shadow: none;
  }
}

// img
img.img-responsive {
  @include img-responsive();
}
// 表單必填
.necessary {
  color: red;
  margin: 0px 0.2em;
}

.tooltip {
  text-align: center;
  padding: 40px 0;
  span {
    display: inline-block;
    background: #dedede;
    text-align: center;
    padding: 10px;
    width: 100px;
    height: 20px;
    line-height: 20px;
    vertical-align: baseline;
  }
  p > em {
    color: red;
  }
}
