.tabSet {
    max-width: 100%;
    margin: 3em auto 1em;
    overflow: hidden;
    @extend %clearfix;

    @include screen('tablet') {
        margin: 1em auto;
    }

    @include screen('mobile') {
        display: none;
        // width: auto;
        // height: auto !important;
    }

}

.tabs {
    position: relative;

    &>.tabItem {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            bottom: 1px;
            left: 0;
            height: 1px;
            width: 100%;
            background: $color-line;
            z-index: -1;
        }

        &.active>a {
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 3px;
                width: 100%;
                background: $lightColor;
            }
        }

        float: left;
        margin: 0;
        padding: 0;
        font-size:1em;
        line-height: 1;

        @include screen('mobile') {
            float: none;

            &>a {
                width: 100% !important;
                border-bottom: 1px solid #fff;
                background: $color-bg;
            }

            &.active>a {
                background: $primaryColor;
                color: #fff;
            }
        }

        &>a {
            display: block;
            position: relative;
            padding: 16px 0 14px;
            text-align: center;
            color: $primaryColor;
            font-weight: bold;
            text-decoration: none;
            @include text-overflow;
            @include box-sizing;

            &:hover {
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 3px;
                    width: 100%;
                    background: $lightColor;
                
                }
            }
        }
    }
}

//多組 可設定差異
.example-2 {
    .tabItem>a:hover {
        background: $secondaryColor;
    }

    .tabItem.active>a {
        background: $secondaryColor;
    }
}

// 顯示content
.active+.tabContent {
    display: block;
}

.tabContent {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    clear: both;
    padding: 30px 0;
    display: none;

    @include screen('mobile') {
        position: static;
    }

    ul {
        @include li-reset;
    }

    li {
        margin: 0 0 1.3em 0;
        padding: 0;
        line-height: 1.6;
        border-bottom: 1px #CCC dashed;

        @include screen('mobile') {
            //@include text-overflow();
        }

        a {
            @include aSetting_nocolor;

            &:hover {
                p {
                    color: $color-word;
                }
            }
        }

        time {
            display: inline-block;
            margin: 0 0 0 1em;
            
            color: #666;
        }
    }

    h3 {
        margin: 0;
    }
}



// .show_btn{
//     display: block;
//     width: 45px;
//     height: 45px;
//     margin:0 auto;
//     clear:both;
//     background: url(../images/show_btn.png) no-repeat center;
//     background-size: 100%;
//     text-indent: -9999px;
// }